<h1>Tasks</h1>

<div class="container">
  <% @tasks.each do |task| %>
    <input type="checkbox">
    <%= link_to("#{task.title}", "tasks/#{task.id}", method: :get )%>
    <p><%= task.details %></p>
  <% end %>
</div>
<br>
<%= link_to("créer une nouvelle tâche", '/tasks/new', method: :get) %>
